@font-face {
  font-family: 'DogicaPixel';
  src: local('dogicapixel'), url('./fonts/dogicapixel.ttf') format('truetype');
}

@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia Code'),
    url('./fonts/CascadiaCode.ttf') format('truetype');
} ;
